@page "/IbasMenu"
@model IBAS_menu.Pages.IbasMenuModel







<h3>IbasMenu</h3>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<!DOCTYPE html>
<html>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<body>

    <h2>A basic HTML table</h2>

    <table style="width:100%">
        <tr>
            <th>Dag</th>
            <th>Varm</th>
            <th>Kold</th>
        </tr>
        <tr>
            <td>Lørdag</td>
            <td>Hummer med kartoffelmos</td>
            <td>intet</td>
        </tr>
        <tr>
            <td>Søndag</td>
            <td>Tyretunge</td>
            <td>Intet</td>
        </tr>
      
    </table>
</body>
</html>


